sudo: required

language: php

services:
  - docker

before_install:
  - docker-compose build
  - docker-compose up -d
  - docker-compose ps

script:
  - docker-compose run --rm workspace bash -c "composer install"
  - docker-compose run --rm workspace bash -c "./vendor/bin/codecept run"
